{% extends "navebar/base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}    product page    {% endblock %}</title>

  </head>
  <body>

    {% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ss.css' %}">
    <br><br><br>   <h3>product page</h3>

    <style>
    div {text-align: center;}



    .button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table, th, td {
   margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<div>

  <table class="center" bgcolor="white">

    <tr>
      <th>name</th>
      <th>catogory</th>
      <th>quentity</th>
       {%if user.is_superuser%}
      <th>activity</th>

          {% endif  %}

    </tr>
     {% for item in items   %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.catogory}}</td>
      <td>{{item.quantity}}</td>
      {%if user.is_superuser%}
      <td><button type="button"><a href="{% url "deleteproduct_page" item.id %}">delete</a> </button> <button type="button"> <a href="{%url "updateproduct_page" item.id%}">update</a></button> </td>


    </tr>
         {% endif  %}
      {% endfor %}

  </table>
     {%if user.is_superuser%}
                <td><button type="button"><a href="{% url "addproduct_page"  %}">Add product</a> </button>  </td>
      {% endif  %}


</div>
{% if user.superuser %}
<div> <a href="{% url   "addproduct_page"   %}"><button class="button" type="button">add product
                        </button></a>
 {%  else %}
</div>
<div>
  <h3><a href="{% url  "takeorder_page"   %}">want to order some products</a></h3>
 {% endif  %}
</div>


    {% endblock %}

  </body>
</html>
