{% extends "navebar/base.html" %}


{% load static %}

{% block title %}

edit profile

{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/ss.css' %}">
     <div >
         <br><br> <h3>edit profile</h3>



             <hr>
             <form  method="POST">

             {% csrf_token %}
             {{form1|crispy}}
              {{form2|crispy}}
             <input class="btn btn-success" type="submit" value="submit">

         </form>


     </div>



    {% endblock %}